<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androd="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.join.sistemajoin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.ViewCadastrarEscola" />
        <activity android:name=".Activitys.ViewListarEscolas" />
        <activity android:name=".Activitys.ViewHomeSistemaAdministrativo" />
        <activity android:name=".Activitys.ViewTelaLogin" />
        <activity android:name=".Activitys.ViewCadastrarProfessor" />
        <activity android:name=".Activitys.ViewRealizarPostagem" />
        <activity android:name=".Activitys.ViewSelecionarAlunos" />
        <activity android:name=".Activitys.ViewRealizarAvaliacao" />
        <activity android:name=".Activitys.ViewHomeSistemaEscola" />
        <activity android:name=".Activitys.ViewListaProfessores" />
        <activity android:name=".Activitys.ViewExibirInformacoesProfessor" />
        <activity android:name=".Activitys.ViewExibirInformacoesEscola" />
        <activity android:name=".Activitys.ViewHomeProfessor" />
        <activity android:name=".Activitys.ViewCadastrarAluno" />
        <activity android:name=".Activitys.ViewTelaHomeAluno" />
        <activity android:name=".Activitys.ViewListarAlunos" />
        <activity android:name=".Activitys.ViewExibirInformacoesAluno" />
        <activity android:name=".Activitys.ViewCadastrarTurma" />
        <activity android:name=".Activitys.ViewListarTurmas" />
        <activity android:name=".Activitys.ViewExibirInformacoesTurma" />
        <activity android:name=".Activitys.ViewListarPostagens" />
        <activity android:name=".Activitys.ViewSelecionarFilho" />
        <activity android:name=".Activitys.ViewVerGrafico" />
        <activity android:name=".Activitys.ViewListarAvaliacoes"></activity>
    </application>

</manifest>